Bluemix.json
[{"id":"6aa64ccb.fd2d94","type":"tab","label":"bluemix","disabled":false,"info":""},{"id":"7ef76f89.f64f7","type":"ibmiot in","z":"6aa64ccb.fd2d94","authentication":"apiKey","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"senb0800273f38c0","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":270,"y":300,"wires":[["e1b4f92a.7b0968","6ad4b302.b0c38c","acb82a50.039368","b601698e.664f08"]]},{"id":"a6df3df.081a2c","type":"ui_button","z":"6aa64ccb.fd2d94","name":"","group":"4addc4c8.3caf1c","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":480,"y":140,"wires":[[]]},{"id":"e1b4f92a.7b0968","type":"function","z":"6aa64ccb.fd2d94","name":"suhu","func":"msg.payload=msg.payload.d.Data.Environment.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":260,"wires":[["a214c2c9.4e5c7"]]},{"id":"6ad4b302.b0c38c","type":"function","z":"6aa64ccb.fd2d94","name":"kelembapan","func":" msg.payload=msg.payload.d.Data.Environment.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":320,"wires":[["4202d49a.1a73ec"]]},{"id":"acb82a50.039368","type":"function","z":"6aa64ccb.fd2d94","name":"tekanan","func":" msg.payload=msg.payload.d.Data.Environment.pressure;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":380,"wires":[["330dada7.048a22"]]},{"id":"a214c2c9.4e5c7","type":"ui_gauge","z":"6aa64ccb.fd2d94","name":"suhu","group":"4addc4c8.3caf1c","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":260,"wires":[]},{"id":"4202d49a.1a73ec","type":"ui_gauge","z":"6aa64ccb.fd2d94","name":"kelembapan","group":"4addc4c8.3caf1c","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"160","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":320,"wires":[]},{"id":"330dada7.048a22","type":"ui_gauge","z":"6aa64ccb.fd2d94","name":"tekanan","group":"4addc4c8.3caf1c","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":380,"wires":[]},{"id":"b601698e.664f08","type":"debug","z":"6aa64ccb.fd2d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":520,"wires":[]},{"id":"4addc4c8.3caf1c","type":"ui_group","z":"","name":"Default","tab":"a1408c87.cf167","order":1,"disp":true,"width":"6","collapse":false},{"id":"a1408c87.cf167","type":"ui_tab","z":"","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false}]