RaspberryPi.json
[{"id":"d63e128e.4d1c7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e23f7e0d.36224","type":"delay","z":"d63e128e.4d1c7","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":120,"wires":[["6aae81c8.b7742"]]},{"id":"6aae81c8.b7742","type":"function","z":"d63e128e.4d1c7","name":"Env. Data","func":"msg.payload = {\"Data\" : {\"Environment\" : msg.payload}};\nmsg.deviceType = \"senseHat\";\nmsg.deviceId =\"senb0800273f38c0\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":120,"wires":[["6857883d.f8a698","888b2daf.6acef"]]},{"id":"6857883d.f8a698","type":"debug","z":"d63e128e.4d1c7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":120,"wires":[]},{"id":"4a83ca21.9d70e4","type":"rpi-sensehatsim in","z":"d63e128e.4d1c7","name":"","motion":false,"env":true,"stick":false,"x":100,"y":120,"wires":[["e23f7e0d.36224"]]},{"id":"888b2daf.6acef","type":"wiotp out","z":"d63e128e.4d1c7","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"d16a90e7.fffde","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":610,"y":180,"wires":[]},{"id":"d16a90e7.fffde","type":"wiotp-credentials","z":"","name":"0800273f38c0","org":"hjm9ab","serverName":"","devType":"raspberrypiGW","devId":"0800273f38c0","keepalive":"60","cleansession":true,"tls":"","usetls":false}]